<center>
  <h1>My Envelope</h1><br>

  <% if show_random_button(@notes) %>
    <div class="mb-4">
      <h4>Which task should I start on next?</h4>
      <%= link_to 'Randomize', note_path(random_task(@notes)), class: 'btn btn-secondary' %>
    </div>
  <% end %>

  <% unless @notes.blank? %>
    <div class="card-deck mx-auto">
      <%= render partial: 'note', collection: @notes %>
    </div>
  <% else %>
    <p>Looks like you don't have any notes. Create one using the button below!</p>
    <%= link_to 'New note', new_note_path, class: 'btn btn-primary' %>
  <% end %>
</center>
