<div class="jumbotron">
  <h1>Keep your head in the clouds</h1>
  <h1>by storing your next big idea there. </h1>
  <p class="lead">Access your notes whenever, wherever, and on whatever device you're closest to.
</p>
  <hr class="my-4">
  <p>With your help, we can make sticky notes a relic of the past.</p>
  <%= link_to 'Sign up for free', new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
