// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check-or-not {
  background: asset_url("check_square.svg");
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;

  &:hover {
    background: asset_url("check_square_fill.svg");
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
  }
}
