// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background: asset_url("giant_blue_nucleus.png");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
